<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.c5d2308t1.mapper.CsMapper">
	<!-- 고객센터 문의글 등록 - INSERT -->
	<!-- 구문 실행 후 자동으로 int 타입 결과값 리턴됨 -->
	<insert id="insertBoard">
		INSERT INTO cs
		VALUES (
			null
			, #{cs_subject}
			, #{cs_content}
			, now()
			, #{cs_type}
			, #{cs_type_detail}
			, #{cs_file}
			, null
			, 0
			, #{lost_datetime}
			, null
			, #{member_id}
		)		
	</insert>
	
	<select id="selectFqaList" resultType="com.itwillbs.c5d2308t1.vo.CsVO">
		SELECT * FROM cs
		WHERE cs_type = "자주묻는질문";
	</select>
	
	<select id="selectNoticeList" resultType="com.itwillbs.c5d2308t1.vo.CsVO">
		SELECT * FROM cs
		WHERE cs_type = "공지사항";
	</select>
	
</mapper>




