<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.c5d2308t1.mapper.MainMapper">
	<!-- 메인 페이지에 출력할 영화목록 조회 -->
	<select id="selectMainMovieList" resultType="movies">
		SELECT *
		FROM movies
		WHERE movie_status = #{status}
		<choose>
			<when test="sortType.equals('dateSort')">
				ORDER BY movie_release_date DESC
			</when>
			<when test="sortType.equals('audienceSort')">
				ORDER BY movie_audience DESC
			</when>
		</choose>
		LIMIT 0, 5
	</select>
	
	<!-- 메인페이지에 출력할 이벤트목록 조회 -->
	<select id="selectEventList" resultType="event">
		SELECT *
		FROM events
		ORDER BY event_close_date DESC
	</select>
</mapper>