<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.c5d2308t1.mapper.MoviesMapper">

<!-- 	<select id="selectMoviesList" resultType="com.itwillbs.c5d2308t1.vo.MoviesVO"> -->
	<select id="selectMoviesList" resultType="HashMap">
		SELECT *
		FROM movies
		WHERE movie_release_date &lt;= now()
		ORDER BY movie_release_date DESC
	</select>
	
	<select id="selectMovieDetail" resultType="HashMap">
		SELECT *
		FROM movies
		WHERE movie_id = #{movie_id}
	</select>
	
	<insert id="insertMovie">
		INSERT INTO movies(movie_id, movie_title, movie_release_date, movie_audience)
		VALUES(
			#{movie_id},
			#{movie_title},
			#{movie_release_date},
			#{movie_audience}
		)
	</insert>
	
	<insert id="insertMovies">
		INSERT INTO movies
		VALUES(
			#{movie_id}
			, #{movie_title}
			, #{movie_nation}
			, #{movie_prdtYear}
			, #{movie_director}
			, #{movie_actor}
			, #{movie_genre}
			, #{movie_rating}
			, #{movie_plot}
			, #{movie_release_date}
			, #{movie_close_date}
			, #{movie_runtime}
			, #{movie_poster}
			, #{movie_still1}
			, #{movie_still2}
			, #{movie_still3}
			, #{movie_trailer}
			, #{movie_audience}
			, #{movie_status}
		)
	</insert>
	
</mapper>