<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.c5d2308t1.mapper.ReserveMapper">

	<select id="selectMovietitle" resultType="com.itwillbs.c5d2308t1.vo.ReserveVO">
		SELECT movie_title 
		FROM movies
	</select>
	
	<select id="selectTheaterName" resultType="com.itwillbs.c5d2308t1.vo.ReserveVO">
		SELECT theater_name 
		FROM theaters
	</select>
	
	<select id="selectPlayDate" resultType="com.itwillbs.c5d2308t1.vo.ReserveVO">
		SELECT DISTINCT play_date
		FROM plays
	</select>
	
	
	<select id="selectSeatName" resultType="com.itwillbs.c5d2308t1.vo.ReserveVO">
		SELECT seat_name
		FROM resView 
		WHERE play_date = #{play_date}
		AND play_start_time = #{play_start_time}
	</select>
	
	<select id="selectSchedule" resultType="com.itwillbs.c5d2308t1.vo.ReserveVO">
		SELECT room_name, play_start_time, play_end_time
		FROM MPRT
		WHERE play_date = #{play_date}
		AND movie_title =#{movie_title}
		AND theater_name = #{theater_name}
	</select>
	
	<select id="selectPlayEndTime" resultType="String">
		SELECT play_end_time 
		FROM MPRT  
		WHERE movie_title = #{movie_title}
		AND theater_name = #{theater_name}
		AND play_date = #{play_date}
		AND room_name = #{room_name}
		AND play_start_time = #{play_start_time}
	</select>
	

	
	<!-- 마이페이지에서 예매내역조회 -->
	<select id="selectReserveList" resultType="map">
		SELECT *
		FROM resView
		WHERE member_id = #{sId}
	</select>
	
	<!-- 마이페이지에서 예매상세정보 조회 -->
	<select id="selectresInfoDetail" resultType="map">
		SELECT *
		FROM resView
		WHERE payment_id = #{payment_id}
	</select>
	
	<!-- 	마이페이지에서 예매취소 -->
	<update id="updateResCancle">
		UPDATE payments SET payment_status = 0
		WHERE payment_id = #{payment_id}
	</update>
	
	<!-- 	좌석 예매 취소 -->
	<update id="updateSeatCancle">
		UPDATE seats SET seat_status = 0
		WHERE seat_id = #{seat_id}
	</update>
	
	
<!-- 		<input type="hidden" name="movie" value="${map.movie}"> -->
<!-- 		<input type="hidden" name="Theater" value="${map.Theater}"> -->
<!-- 		<input type="hidden" name="Room" value="${map.Room}"> -->
<!-- 		<input type="hidden" name="Date" value="${map.Date}"> -->
<!-- 		<input type="hidden" name="StartTime" value="${map.StartTime}"> -->
<!-- 		<input type="hidden" name="typeCount" value="${map.typeCount}"> -->
<!-- 		<input type="hidden" name="seat_name" value="${map.select_seat}"> -->
<!-- 		<input type="hidden" class="totalPriceResult" name="payment_total_price" value=""> -->
	
	
	
	<!-- payment table insert -->
<!-- 	<insert id="insertPayment"> -->
<!-- 		INSERT INTO payments -->
<!-- 		VALUES( -->
<!-- 			null -->
<!-- 			,(SELECT CONCAT('P',play_id ,'S',seat_id)   -->
<!-- 			  FROM resView  -->
<!-- 			  WHERE play_start_time = #{StartTime} -->
<!-- 			  AND play_date = #{Date} -->
<!-- 			  AND movie_title = #{movie} -->
<!-- 			  AND theater_name = #{Theater} -->
<!-- 			  AND room_name = #{Room})  P2S2 play_id와 Seat_id를 합친 Unique한 문자열 생성 -->
<!-- 			,now() -->
<!-- 			,'카드이름' -->
<!-- 			,'카드번호' -->
<!-- 			,#{payment_total_price} -->
<!-- 			,1			 -->
<!-- 		) -->
<!-- 	</insert> -->
	
	<!-- seats table insert -->
<!-- 	<insert id="insertSeats"> -->
<!-- 		INSERT INTO seats -->
<!-- 		VALUES( -->
<!-- 			null -->
<!-- 			,#{seat_name} -->
<!-- 			,1 -->
<!-- 			,(SELECT play_id  -->
<!-- 			  FROM PRT    -->
<!-- 			  WHERE play_date = #{Date} -->
<!-- 			  AND play_start_time = #{StartTime} -->
<!-- 			  AND room_name = #{Room}) -->
<!-- 			,#{payment_total_price} -->
		
<!-- 		) -->
		
<!-- 	</insert> -->
	
	<!-- reserve table insert -->
<!-- 	<insert id="insertReserve"> -->
<!-- 		<selectKey keyColumn="payment_id" order="BEFORE"> -->
<!-- 			SELECT payment_id -->
<!-- 			FROM payment -->
<!-- 			WHERE payment_name = (SELECT CONCAT('P',play_id ,'S',seat_id)   -->
<!-- 								  FROM resView  -->
<!-- 								  WHERE play_start_time = #{StartTime} -->
<!-- 								  AND play_date = #{Date} -->
<!-- 								  AND movie_title = #{movie} -->
<!-- 								  AND theater_name = #{Theater} -->
<!-- 								  AND room_name = #{Room}) -->
<!-- 		</selectKey> -->
<!-- 		INSERT INTO reserve -->
<!-- 		VALUES( -->
<!-- 			#{payment_id} -->
<!-- 			,#{sId} -->
<!-- 			,#{payment_total_price} -->
<!-- 			,SELECT seat_id -->
<!-- 			 FROM seats -->
<!-- 			 WHERE seat_name = #{seat_name} -->
<!-- 			 AND play_id = (SELECT play_id  -->
<!-- 						    FROM PRT    -->
<!-- 						    WHERE play_date = #{Date} -->
<!-- 						    AND play_start_time = #{StartTime} -->
<!-- 						    AND room_name = #{Room}) -->
<!-- 		) -->
<!-- 	</insert> -->
	
</mapper>















