<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.c5d2308t1.mapper.StoreMapper">
	
	<!-- 관리자페이지 스토어상품 관리 페이지 모든 상품 출력을위한 셀렉트 -->
	<select id="allSelectStore" resultType="store">
		SELECT *
		FROM products
	</select>
	
	<!-- 관리자페이지 상품 등록 시 상품 id 중복 판별을 위한 셀렉트 -->
	<select id="adminProductSelect" resultType="store">
		SELECT product_id
		FROM products
		WHERE product_id = #{product_id}
	</select>
	
	<!-- 관리자페이제 상세 페이지 및 상품 상세페이지 조회를 위한 SELECT -->
	<select id="selectStorePro" resultType="store">
		SELECT *
		FROM products
		WHERE product_id = #{product_id}
	</select>
	
	<!-- 관리자페이지 상품 수정 -->
	
	<!-- 관리자페이지 상품 삭제 -->
	<delete id="adminProductDel">
		DELETE FROM products
		WHERE product_id = #{product_id}
	</delete>
	
	<!-- 메인페이지 장바구니에 담긴 상품 판별 후 INSERT 처리  -->
	<insert id="insertCart">
		<selectKey keyProperty="product_price" resultType="int" order="BEFORE">
			SELECT product_price
			FROM products
			WHERE product_id = #{product_id}
		</selectKey>
		
		INSERT INTO carts VALUES(
			null
			, #{product_id}
			, #{sId}
			, #{product_price}
			, 1
		)
	</insert>
	<!-- 메인 페이지 장바구니에 담겨있는 상품의 판별 후 UPDATE 처리 -->
	<update id="updateCart">
		UPDATE carts
		SET product_count = product_count + 1
		WHERE member_id = #{sId} 
		AND product_id = #{product_id};
	</update>
	
	<!-- 장바구니 판별 후 업데이트 된 CARTLIST 조회 -->
	<select id="resultCartList" resultType="cart">
		SELECT *
		FROM carts
		WHERE member_id = #{sId}
	</select>
	
	<!-- 현재 장바구니에 담긴 상품을 조회 -->
	<select id="selectMyStoreList" resultType="store">
		SELECT c.product_id, product_price, product_img, product_count, product_txt, product_name 
		FROM carts c JOIN products p 
		ON c.product_id = p.product_id
		WHERE c.member_id = #{sId};
	</select>
	
<!-- 	단일 결제를 위한 SELECT 조회 -->
	<select id="selectStore" resultType="store">
		SELECT *
		FROM products
		WHERE product_id = #{product_id}
	</select>
	
	<!-- 장바구니 페이지 수량 변경 시 수량 UPDATE -->
	<update id="updateQuan">
		UPDATE carts
		SET product_count = #{product_count}
		WHERE member_id = #{sId} AND product_id = #{product_id}
	</update>
	
	<!-- 장바구니 페이지 수량 변경 시 총금액 UPDATE -->
	<update id="sumPrice">
		<selectKey keyProperty="product_count" resultType="int" order="BEFORE">
			SELECT product_count
			FROM carts
			WHERE member_id = #{sId} AND product_id = #{product_id};
		</selectKey>
	
		UPDATE carts
		SET cart_total_price  = (SELECT product_price 
                                 FROM products
                                 WHERE product_id  = #{product_id}) * #{product_count}
		WHERE member_id = #{sId} AND product_id = #{product_id};
	</update>	
		
	<!-- 장바구니 내에서 수량 변경 업데이트 이후 출력을 위한 조회 -->
	<select id="updateAfter" resultType="cart">
		SELECT *
		FROM carts
		WHERE member_id = #{sId}
		AND product_id = #{product_id}
	</select>	
	
	<!--  결제 페이지용 멤버이름 / 번호를 SELECT 조회 -->
	<select id="selectMemberInfo" resultType="com.itwillbs.c5d2308t1.vo.MemberVO">
		SELECT member_name, member_phone
		FROM members
		WHERE member_id = #{member_id}
	</select>
	
	<delete id="cartDelete">
		DELETE 
		FROM carts
		WHERE member_id = #{sId} 
		AND product_id = #{product_id}
	</delete>
	
	<!-- 총 금액 계산용 -->
	<select id="selectCart2" resultType="cart">
		SELECT product_count, cart_id, cart_total_price
		FROM carts
		WHERE member_id = #{member_id}
	</select>
	
	<select id="selectCart3" resultType="store">
		SELECT p.product_id, product_name, product_img, product_txt, product_price, product_count 
		FROM products p JOIN carts c 
		ON p.product_id = c.product_id 
		WHERE member_id = #{sId} 
		AND c.product_id = #{arrPro}
	</select>
	
	<select id="selectCart4" resultType="store">
		SELECT p.product_id, product_name, product_img, product_txt, product_price, product_count 
		FROM products p JOIN carts c 
		ON p.product_id = c.product_id 
		WHERE member_id = #{sId} 
		AND c.product_id = #{productId}
	</select>
	
	<select id="selectCart1" resultType="cart">
		SELECT product_count
		FROM carts
		WHERE product_count = #{product_count}
	</select>
	
	
</mapper>




















