@charset "UTF-8";

/* ============= 전체 게시판에 적용할 css ============== */

#admin_nav { /* 내비게이션바에 */
	display: inline-block;
	top: 170px;
	width: 160px;
	margin: 10px;
	vertical-align: top;
}

#admin_main {
	vertical-align: top;
	display: inline-block;
	width: 800px; /* 너비 800지정 */
	margin: 10px;	
}

#admin_sub {
	vertical-align: top;
	display: inline-block;
	width: 800px; /* 너비 800지정 */
	margin: 10px;	
}

form {
	margin-bottom: 20px;
}

a {
	color: #000;
	text-decoration: none;
}

#admin_main th, #admin_main td {
	height: 30px;
}

#admin_sub th, #admin_sub td {
	height: 30px;
}

#admin_sub input[type="text"] {
	border: none;
}

#admin_sub textarea {
	border: none;
}

/* ========================== 가운데 정렬할 버튼 ============================= */
#btnPopupCtr {
	text-align: center;
}

/* ============ 네비바에 적용할 css ============= */

/* Fixed sidenav, full height */
.sidenav {
	width: 160px; /* 넓이지정 */
	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #505050; /* 배경색 */
 	margin-bottom: 40px;
}

.sidenav #admin {
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;	
	margin: 0;
}

#admin>a {
	text-decoration: none;
	color: #fff;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
	font-size: 20px;
	background-color: #C4C4C4;
	color: #000;
	display: block;
	border: none;
	width: 160px;
	text-align: center;
	cursor: pointer;
	outline: none;
	padding: 10px;
}

.dropdown-container>a {
	background-color: #e3e3e3;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	display: block;
	border: none;
	width: 160px;
	text-align: center;
	cursor: pointer;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -8px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #505050;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #afafaf;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}


/* ======== 전체 영역 테이블에 적용할 css ======== */

table {
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border: 1px solid #C4C4C4; /* 표 줄 */ 
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

th {
	background:#ebebeb;
	color:#383838;
	border: 1px solid #C4C4C4;
}

td {
	border:1px solid #dfdfdf;
	font-size:1.083em;
	color:#666;
}

.post_name {
	text-align: left;
}

/* ======== 전체 영역 입력상자에 적용할 css ======== */
input[type="date"], input[type="text"], select {
	height: 25px;
}

/* ============= 전체 버튼에 적용할 css ================== */
input[type="button"], input[type="submit"] { /* 모든 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #505050; /* 배경색 진회색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

input[type="button"]:hover, input[type="submit"]:hover {  /* 모든 버튼에 마우스오버 시 */
	background-color: #bebebe; /* 배경색 연회색 */
}

#admin_member{
	color: black;
	background-color: #FFCCCC; /* 회원일때 색깔 */
}
#admin_Bmember{
	color: black;
	background-color: #E0E0E0; /* 비회원일때 색깔 */
}
#admin_Cmember{
	color: black;
	background-color: #CCCCFF; /* 탈퇴 일때 색깔 */
}


#movie_update, #schedule_search, #pay_Search, #member_Search {
	text-align: right;
	margin-bottom: 20px;
}

#admin_writer {
	text-align: right;
	margin-top: 20px;
}

/* ============ 전체 페이지번호에 적용할 css ============ */

/* Pagination links */
.pagination {
	padding:20px 0 100px 250px;
	text-align: center;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #505050;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}


/* =============== 상영일정관리 ==================== */
.schedule {
	margin-bottom: 100px;
}

#lbl { /* label 태그 영역 */
	background-color: #ebebeb; /* 배경색 회색 */
	border-radius: 3px; /* 모서리 둥글게 */
	font-size: 12px; /* 글자 크기 줄이기 */
	padding: 7.2px; /* 안쪽 여백 채우기 */
	margin-left: 15px;
}

#schedule_search input {
	border-color: #C4C4C4;
}

/* =============== 자주묻는질문 ==================== */

#faq_button {
	position: relative;
}


#faq_button ul {
	text-align: center;
	margin: 0;
}

#faq_button {
	text-align: center;
}

#faq_button li {
	display: inline-block;
	height: 50px;
	text-align: center;
	line-height: 30px;
	margin: 10px;
}

#faq_button input {
	border: none;
	border-bottom: 3px solid #505050;
	color: #000000; /* 글자 색상 */
	padding: 10px 40px; /* 영역의 상하 좌우 크기 */
/* 	margin-top: 10px; */
	background-color: #ffffff;
	cursor: pointer; /* 커서 변경 */
}

#faq_button input:hover {
	background-color: #eeeeee;
	border-bottom: 3px solid #000000;
}

/* =============== 영화 등록, 수정, 예매 상세 페이지의 정보를 표시할 회색 블럭 =================== */
#grayDiv { /* 회색 블럭을 감싸고 있는 전체 영역에 대한 설정 */
	text-align: center; /* 가운데 정렬 */
	margin-left: 2.5px; /* 왼쪽 여백 */
}

#grayBlock {
	background-color: #ccc; /* 배경색 회색 */
	width: 300px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	display: inline-block; /* 한 줄에 배치 */
	margin-bottom: 10px; /* 여백 */
	margin-left: 3px; /* 여백 */
	
}

#grayBlock>input[type="text"] { /* 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

#grayBlock>input[type="date"] { /* 회색 블럭 내 input type="date" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

#grayBlockWide { /* 정보 표시할 넓은 회색 블럭*/
	background-color: #ccc; /* 배경색 회색 */
	width: 700px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	margin-bottom: 10px; /* 여백 */
	display: inline-block; /* 가운데 정렬을 위함 */
	
}

#grayBlockWide>input[type="text"] { /* 넓은 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 650px; /* 너비 */
}
