@charset "UTF-8";

/* ============= 전체 게시판에 적용할 css ============== */

#admin_nav { /* 내비게이션바에 */
	display: inline-block;
	top: 170px;
	width: 160px;
	margin: 10px;
	vertical-align: top;
}

#admin_main {
	vertical-align: top;
	display: inline-block;
	width: 800px; /* 너비 800지정 */
	margin: 10px 10px 100px 10px;	
}

#admin_sub {
	vertical-align: top;
	display: inline-block;
	width: 800px; /* 너비 800지정 */
	margin: 10px;	
}

#content_table {
	text-align: left;
	padding: 10px;
	width: 640px;
	margin: 0;
	white-space: pre-wrap;
	min-height: 250px;
}

form {
	margin-bottom: 20px;
}

a {
	color: #000;
	text-decoration: none;
}

#admin_main th, #admin_main td {
	height: 30px;
}

#admin_main a {
	text-decoration: none;
	color:#666;
}

#admin_sub th, #admin_sub td {
	height: 30px;
}

#admin_sub input[type="text"], #admin_sub input[type="password"] {
	border: none;
}

#admin_sub textarea {
	border: none;
}

/* 검색창 div영역 오른쪽정렬 */
#admin_search {
	text-align: right;
}

/* 글쓰기 영역에 적용 */
#select, #theater_id, #room_id, #play_start_time, #play_date {
	text-align: center;
	width: 160px;
	height: 25px;
}

#play_end_time {
	text-align: center;
	width: 160px;
	height: 20px;
}

#movie_id {
	text-align: center;
	width: 400px;
	height: 25px;	
}

#id {
	text-align: center;
	width: 200px;
}

#subject {
	width: 700px;
}

#textarea {
	resize: none; /* 크기고정 */
	width: 700px; /* 너비지정 */
	height: 250px; /* 높이지정 */
	margin: 5px;
	font-family: sans-serif;
	font-size: 15px;
}

/* ========================== 가운데 정렬할 버튼 ============================= */
#btnCtr {
	text-align: center;
}

/* ============ 네비바에 적용할 css ============= */

/* Fixed sidenav, full height */
.sidenav {
	width: 160px; /* 넓이지정 */
	border-radius: 3px; /* 모서리 둥글게 */
 	background-color: #505050; /* 배경색 */
 	margin-bottom: 40px;
}

.sidenav #admin {
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;	
	margin: 0;
}

#admin>a {
	text-decoration: none;
	color: #fff;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
	font-size: 20px;
	background-color: #C4C4C4;
	color: #000;
	display: block;
	border: none;
	width: 160px;
	text-align: center;
	cursor: pointer;
	outline: none;
	padding: 10px;
}

.dropdown-container>a {
	background-color: #e3e3e3;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	display: block;
	border: none;
	width: 160px;
	text-align: center;
	cursor: pointer;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -8px;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
	color: #505050;
}

/* Add an active class to the active dropdown button */
.active {
	background-color: #afafaf;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}


/* ======== 전체 영역 테이블에 적용할 css ======== */

table {
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border: 1px solid #C4C4C4; /* 표 줄 */ 
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

th {
	background:#ebebeb;
	color:#383838;
	border: 1px solid #C4C4C4;
}

td {
	border:1px solid #dfdfdf;
	font-size:1.083em;
	color:#666;
}

.post_name {
	text-align: left;
}

/* ======== 전체 영역 입력상자에 적용할 css ======== */
input[type="date"], input[type="text"], input[type="password"], theater_num {
	height: 25px;
}

/* ============= 전체 버튼에 적용할 css ================== */
input[type="button"], input[type="submit"], input[type="reset"] { /* 모든 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #505050; /* 배경색 진회색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

input[type="button"]:hover, input[type="submit"]:hover {  /* 모든 버튼에 마우스오버 시 */
	background-color: #bebebe; /* 배경색 연회색 */
}

#admin_member{
	color: black;
	background-color: #FFCCCC; /* 회원일때 색깔 */
	padding: 2px 3px;
	border-radius: 2px;
	font-size: 15px;
}
#admin_Bmember{
	color: black;
	background-color: #E0E0E0; /* 비회원일때 색깔 */
	padding: 2px 3px;
	border-radius: 2px;
	font-size: 15px;
}
#admin_Cmember{
	color: black;
	background-color: #CCCCFF; /* 탈퇴 일때 색깔 */
	padding: 2px 3px;
	border-radius: 2px;
	font-size: 15px;
}


#movie_update, #schedule_search, #pay_Search, #member_Search, #review_Search, #movie_Search {
	text-align: right;
	margin-bottom: 20px;
}

#admin_writer {
	text-align: right;
	margin-top: 20px;
}

/* ============ 전체 페이지번호에 적용할 css ============ */

/* Pagination links */
.pagination {
	padding:30px 0 80px 0px;
	text-align: center;
}


.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #505050;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}



/* =============== 상영일정관리 ==================== */
.schedule {
	margin-bottom: 100px;
}

#lbl { /* label 태그 영역 */
	background-color: #ebebeb; /* 배경색 회색 */
	border-radius: 3px; /* 모서리 둥글게 */
	font-size: 12px; /* 글자 크기 줄이기 */
	padding: 7.2px; /* 안쪽 여백 채우기 */
	margin-left: 15px;
}

#schedule_search input {
	border-color: #C4C4C4;
}


/* =============== 회원 관리 페이지 =================== */
/* 폼의 div 영역 폰트와 높이 조절 */
#modify_table div {
	font-size: 14px;
	height: 15px;
}
/* =============== 분실물 페이지 =================== */
#lostNfound #response {
	background-color: #C4C4C4;
	color: #000000;
}
/* =============== 영화 조회, 등록, 수정 페이지 정보 표시 =================== */
/* 영화 목록조회 게시판의 제목 */
#movieList #movieTitle {
	max-width: 200px; /* 최대 길이 */
	white-space: nowrap; /* 줄바꿈없이 표시 */
	overflow: hidden; /* 요소영역을 초과하면 표시안되게 설정 */
 	text-overflow: ellipsis; /* 초과한 텍스트를 '...'으로 설정 */
}

/* 테이블 영역 */
#movieTable {
	margin-bottom: 10px;
}

#movieTable div {
	font-size: 14px;
	height: 15px;
}

/* 영화 검색창 영역 */
#searchArea {
	text-align: center;
}
/* 박스오피스를 조회할 날짜 입력창 */
#searchArea #dateSelect {
/* 	border: none; */
	width: 90px; /* 너비 */
	font-weight: 500;
}
/* 박스오피스의 영화 표시 셀렉트박스 */
#searchArea #dailyBox {
	width: 350px;
	height: 30px;
}
/* 포스터가 표시될 영역 */
#movieTable #posterArea {
	height: 310px !important;
}
/* 짧은 입력창 표시 */
#movieTable .shortInput { /* 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 50px; /* 높이 */
	width: 250px; /* 너비 */
}
/* 긴 입력창 표시 */
#movieTable .longInput {
	border:none; /* 테두리 없애기 */
	height: 50px; /* 높이 */
	width: 550px; /* 너비 */
}

#movieTable #movie_status {
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 50px; /* 높이 */
	width: 250px; /* 너비 */
}

/* 날짜 입력창 표시 */
#movieTable input[type="date"] { /* 회색 블럭 내 input type="date" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 50px; /* 높이 */
	width: 250px; /* 너비 */
}

/* =============== 예매 상세 페이지의 정보를 표시할 회색 블럭 =================== */
#grayDiv { /* 회색 블럭을 감싸고 있는 전체 영역에 대한 설정 */
	text-align: center; /* 가운데 정렬 */
	margin-left: 2.5px; /* 왼쪽 여백 */
}

#grayBlock {
	background-color: #ccc; /* 배경색 회색 */
	width: 300px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	display: inline-block; /* 한 줄에 배치 */
	margin-bottom: 10px; /* 여백 */
	margin-left: 3px; /* 여백 */
	
}

#grayBlock>input[type="text"] { /* 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

#grayBlock>input[type="date"] { /* 회색 블럭 내 input type="date" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 250px; /* 너비 */
}

#grayBlockWide { /* 정보 표시할 넓은 회색 블럭*/
	background-color: #ccc; /* 배경색 회색 */
	width: 700px; /* 너비 */
	height: 100px; /* 높이 */
	border: none; /* 테두리 없애기 */ 
	border-radius: 10px; /* 모서리 둥글게 */
	margin-bottom: 10px; /* 여백 */
	display: inline-block; /* 가운데 정렬을 위함 */
	
}

#grayBlockWide>input[type="text"] { /* 넓은 회색 블럭 내 input type="text" 영역 */
	border:none; /* 테두리 없애기 */
	/* background-color: #ccc; */
	/* => 텍스트 출력창 표시하기 위해 임시로 색상 설정 X */
	height: 65px; /* 높이 */
	width: 650px; /* 너비 */
}
