@charset "UTF-8";


/* ======== 전체 영역에 적용할 css ======== */

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	position: relative;	
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
/* 	font-family: 'IBM Plex Sans KR', sans-serif; */
/* 	font-family: 'Nanum Gothic', sans-serif; */
}

header {
	height: 90px;
}

#wrapper {
	min-height: 100%;
	position: relative;
	width: 100%;
}


#content {
	width: 1024px;
	margin: 0 auto;	
	padding-bottom: 100px;
}

#main_page {
	width: 1024px;
	margin: 0 auto;	
}

#h01{
	font-size: 35px; /* 폰트 크기 조정  */
	text-align: center; /* 스토어 제목 중앙 정렬  */
}


/* 아이티윌홈으로 ---로그인 회원가입 정렬*/
#top_area {
	background-color: #ffffff;
	height: 90px;
	width: 100%;
}

#top_content {
	width: 100%;
	margin: 0 auto;
}

#logo {
	text-align: center;
	margin-top: -20px;
}

#member {
	text-align: right;
	margin: 5px;
}

#member input[type="button"] { /* 로그인, 회원가입 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #433581; /* 배경색 빨간색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
    min-height: 30px;
    vertical-align: top;
}

#member input[type="button"]:hover { /* 로그인, 회원가입 버튼에 마우스오버 시 */
	background-color: #331f62;
}

/* 메뉴영역<div id="menu_nav"> 배경색과 글자 정렬*/
#navbar {
	background-image: linear-gradient(to right, #7355be, #6c4fb6, #6648af, #5f42a7, #593ca0, #533797, #4d328f, #472d86, #40287a, #39236e, #331f62, #2c1a57);
/* 	background-image: linear-gradient(to right, rgb(145, 131, 204), rgb(68, 53, 131) 59%, rgb(44, 34, 85)); */
/* 					   linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47)) */
	text-align: center;
	position: sticky;
	top: -1px;
	z-index: 9999;
}

/*메뉴<nav> 영역 안의 태그<a>에 대한 정렬 */
#menu_nav {
	margin: 0 auto;	
	margin-top: 10px;
	display: flex;
	justify-content: center; /* 양 끝을 기준으로 정렬 */
	width: 1421px;
}


/*메뉴(nav)영역 안의 <a>태그 글자에 대한 색 설정 밑 글자 크기 설정*/
#menu_nav a {
	color: #fff;
	text-decoration: none; /* 밑줄 없애는 설정 */
	font-size: 17px;
	padding: 20px 0;
	width: 200px;
}

/* 메뉴(nav) 영역 마우스 후버시 색상 변경 */
#menu_nav a:hover {
	font-weight: bolder;
}

#main_p {
	text-align: center;
}

/* 메뉴(nav) 영역 아래 수평선 색상 지정 */
#top_hr {
	border: 1px solid #433581;
}


#toplink {
	padding: 10px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 50%;
	position: fixed;
	right: 0; bottom: 10px;
	text-align: center;
	width: 28px;
    height: 28px;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
}



/* ================ footer에 적용할 css =============== */

footer {
	position: absolute;
	left: 0; bottom: 0;
	width: 100%;
	padding-top: 10px;
}

