@charset "UTF-8";

/* ============= 본문에 적용할 ============== css */


#join_top { /* 회원가입 진행사항 표시부분 */
	margin: 30px 0; /* 위아래 띄우기 */
	text-align: center;	/* 가운데정렬 */
}

#join_top>span:not(#this) { /* 회원가입 진행사항 표시부분 */
	background-color: #eeeeee; /* 배경색 회색 */
    color: #000;
	font-weight: bold;
	margin: 0;
	padding: 15px 30px; /* 크기 키우기 */
}

#join_top>#this { /* 회원가입 진행사항 표시부분 */
	background-color: #e50914;
    color: white;
	font-weight: bold;
	margin: 0;
	padding: 15px 30px; /* 크기 키우기 */
}

form { /* 정보 입력창 */
	margin: 0 auto; /* 가운데정렬 */
	width: 612px;  /* 넓이 */
}

#join_button { /* 모든 버튼 */
	margin: 30px; /* 주변 띄우고 */
	text-align: center; /* 가운데정렬 */
}

#notice { /* 하단 알림문구 */
	font-size: 14px; /* 폰트크기 */
	margin-bottom: 30px; /* 아래쪽 여백 */
}

input[type="button"], input[type="submit"] { /* 모든 버튼에 */
	padding: 5px 15px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #c90711;
}	

input[type="submit"] { /* 등록 버튼에 */
	text-align: center;
}

textarea { /* 텍스트박스 */
  resize: none; /* 크기고정 */
  width: 600px; /* 너비지정 */
  height: 150px; /* 높이지정 */
  border: 1.5px solid #AFAFB2; /* 테두리 */
}


/* ======== 본인인증 페이지에 적용할 css ======== */
#api { /* API 아이콘 */
	text-align: center; /* 가운데정렬 */
	margin: 30px; /* 주변 여백 */
}

#email1 { /* 이메일 인증부분 */
	text-align: center; /* 가운데정렬 */
	margin: 30px; /* 주변 여백 */
}

#email2 { /* 이메일 아이콘 */
	border: 1px solid #AFAFB2;  /* 테두리 */
	border-radius: 3px; /* 모서리 둥글게 */
	display: inline-block; /* 나란히 배치하기 위해 속성 변경 */
}

#email3 { /* 이메일 입력, 인증 부분 */
	display: inline-block; /* 나란히 배치하기 위해 속성 변경 */
}

#email3>input[type="text"] { /* 텍스트입력창 */
	border: none; /* 전체 테두리 없애고 */
	border-bottom: 1.5px solid #AFAFB2; /* 밑줄 그리기 */
	margin: 5px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 150px; /* 넓이지정 */
}

/* ======== 동의 페이지에 적용할 css ======== */
#agree { /* 동의영역 */
	margin-top: 30px; /* 상단여백 */
}

#agree>* { /* 동의영역 전체 요소에 */
	margin: 5px; /* 여백 */
}

#required { /* 필수입력사항 글자 */
	font-weight: bold; /* 진하게 */
	color: #e50914; /* 빨간색으로 */
}

.joinbtn {
	text-align: center;
	margin: 20px;
}


/* ======== 가입 폼 페이지에 적용할 css ======== */

#join_center { /* 입력창부분 */
	text-align: center; /* 가운데정렬 */
	padding-bottom: 20px;
}

#warning { /* 필수입력사항 글자 */
	position: absolute; /* 상대위치 */
	left: 58%; /* 중간 오른쪽쯤에 지정 */
	color: #e50914; /* 빨간색 */
	font-size: 12px; /* 글씨작게 */
}

#join_center>#passwd, #join_center>#passwd2, #join_center>#birth  { /* 비밀번호, 생일에 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #AFAFB2; /* 밑줄 */
	margin: 0; /* 여백 */
	height: 50px; /* 높이지정 */
	width: 320px; /* 넓이지정 */
	font-size: 17px;
}

#join_center>#name, #join_center>#phone, #join_center>#email { /* 이름, 휴대폰번호, 이메일에 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #AFAFB2; /* 밑줄 */
	margin-bottom: 25px; /* 여백 */
	height: 50px; /* 높이지정 */
	width: 320px; /* 넓이지정 */	
	font-size: 17px;
}

#join_center>#id { /* 입력요소 첫번째줄 */
	border: none; /* 테두리 없애기 */
	border-bottom: 1.5px solid #AFAFB2; /* 밑줄 */
	margin: 0; /* 상하여백 */
	height: 30px; /* 높이 */
	width: 230px; /* 넓이는 다른줄에서 버튼크기 뺀 값을 지정 */
	font-size: 17px;
}

#join_center>span {
	font-size: 12px;
}

/* ======== 가입 완료 페이지에 적용할 css ======== */
#completion_msg { /* 가입 완료 메세지 */
	text-align: center; /* 글자 가운데정렬 */
	margin: 0 auto; /* 배치 가운데정렬 */
}

