@charset "UTF-8";

/* ---------------- 현재상영작, 상영예정작 ----------------  */

/* 현재상영작, 상영예정작 분류 목록 */
.movie-menu {
	text-align: center;
	
}

.movie-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 분류 항목 설정 */
.movie-menu ul li {
    display: inline-block;
	margin-bottom: 20px;
    text-decoration: none; /* 링크의 밑줄 제거 */
}

.movie-menu input {
	border: none;
	border-bottom: 3px solid #433581;
	height: 50px;
	color: #000000; /* 글자 색상 */
	padding: 10px 50px; /* 영역의 상하 좌우 크기 */
	margin-top: 10px;
	background-color: #ffffff;
	cursor: pointer; /* 커서 변경 */
}

.movie-menu input:hover {
	background-color: #eeeeee;
	border-bottom: 3px solid #000000;
}

/* 상영작 표시중인 버튼 */
.movie-menu li .active {
	background-color: #eeeeee;
    border: none;
    border-bottom: 3px solid #000000;
    color: #000000;
    padding: 10px 40px;
    cursor: pointer;
}

.movie-menu a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
/* 현재 선택한 항목 굵기 조절 */
/* .movie-menu ul li.active a { */
/*     font-weight: bold; 선택된 항목을 굵게 표시 */
/*     background: #f32; 선택된 항목을 색상 지정 */
/* } */

/* 정렬 셀렉트박스 메뉴 */

.sort-menu select {
	padding: 3px 15px;
/* 	font-size: 18px; */
	font-weight: 400; /* 폰트 굵기 */
    border: 1px solid #C4C4C4;
    border-radius: 10px; /* 테두리 라운드 처리 */
}

.sort-menu input {
	border: none;
	border-bottom: 2px solid #433581;
	height: 25px;
	color: #000000; /* 글자 색상 */
	padding: 5px 15px; /* 영역의 상하 좌우 크기 */
	margin-top: 10px;
	background-color: #ffffff;
	cursor: pointer; /* 커서 변경 */
}

.sort-menu input:hover {
	background-color: #eeeeee;
	border-bottom: 2px solid #000000;
}

/* ------- 그리드 스타일 목록 -------  */
.container {
    max-width: 1200px; /* 그리드 전체 넓이 */
    margin: 0 auto; /* 가운데 맞춤 */
    padding-bottom: 100px;
}

.movie-section {
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
}

.movie-grid {
    display: grid; /* 목록의 그리드 방식 정렬 */
    grid-template-columns: repeat(4, 1fr); /* 한줄에 4개씩 동일 비율로 반복 */
    grid-gap: 40px; /* 그리드 간격 */
}

/* 그리드 1칸의 영화 항목 */
.movie {
	width: 200px;
	height: 400px;
    background-color: #fff; /* 그리드 한 칸의 배경색 */
    text-align: center; /* 가운데 정렬 */
    overflow: hidden; /* 영역 밖은 표시 안함 */
    display: table; /* 포스터 정렬을 위한 테이블 형식 지정 */
}

.movie a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
	
}

/* 상영작 항목의 테두리 */
.movie-poster {
	border: 1px solid;
	height: 325px;
	border-radius: 5px; /* 모서리 라운드 처리 */
	overflow: hidden;
}

/* 상영작 항목의 포스터 */
.poster {
    width: 50%;
    height: 50%;
    display: table-cell; /* .movie를 부모로하는 테이블의 셀 형식 */
    vertical-align:middle; /* 수직 가운데 정렬 */
}
/* 부모 div 대비 포스터의 크기 지정 */
.poster img {
    max-width: 100%;
    max-height: 100%;
}

/* 관람 등급 */
.movie-rating {
	position: relative;
	top: 25px;
	right: 80px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
}

/* 12세 관람가 */
.age12 {
	padding: 2px 3px;
	background-color: #E9B62F; /* 배경색 지정 */
}
/* 15세 관람가 */
.age15 {
	padding: 2px 3px;
	background-color: #DD742F; /* 배경색 지정 */
}
/* 18세 관람가 */
.age18 {
	padding: 2px 3px;
	background-color: #FF4357; /* 배경색 지정 */
}
/* 전체 관람가 */
.ageAll {
	font-size: 12px;
	padding: 3px 1px;
	background-color: #29A655; /* 배경색 지정 */
}

/* 상영작 항목의 제목 */
.movie .title {
    color: inherit; /* 링크의 색상 제거 */
    font-weight: 600;
/*     font-size: 16px; */
    margin: 5px 0 auto; /* 가운데 정렬 */
	width: 200px; /* 그리드 영역의 넓이와 동일하게 설정 */
	white-space: nowrap; /* 줄바꿈없이 표시 */
	overflow: hidden; /* 요소영역을 초과하면 표시안되게 설정 */
 	text-overflow: ellipsis; /* 초과한 텍스트를 '...'으로 설정 */
}

/* 상영작 항목의 개봉일 */
.movie .date {
	font-weight: 300;
	color: #666666;
	margin-top: 1px; /* 그리드 영역과의 거리 */
	margin-bottom: 1px; /* 예매버튼 영역과의 거리 */
}

/* 상영작 항목의 개봉상태 */
.release-type {
	padding: 2px 3px;
	background-color: #FF4357; /* 배경색 지정 */
	border-radius: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}


/* 상영작 예매버튼 */
.reserve_area input {
	border: 1px solid;
	height: 40px;
	background-color: #433581; /* 버튼 색상 */
	color: #fff; /* 글자 색상 */
	padding: 10px 30px; /* 영역의 상하 좌우 크기 */
	margin-top: 10px;
	text-decoration: none; /* 링크의 밑줄 제거 */
	border-radius: 5px; /* 모서리 라운드처리 */
	cursor: pointer; /* 커서 변경 */
}

.reserve_area input:hover {
	background-color: #331f62;
}


/* ---------------- 찜하기 버튼 ----------------  */
.likeBtn {
	border: 1px solid !important;
	background-color: #fff; /* 버튼 색상 */
	color: #000; /* 글자 색상 */
	padding: 10px; /* 영역의 상하 좌우 크기 */
	border-radius: 5px; /* 모서리 라운드처리 */
	cursor: pointer; /* 커서 변경 */
	box-sizing: border-box;
}

.likeBtn:hover {
	background-color: #e33c3c;
	color: #fff;
}

.likeCheck {
	border: 1px solid;
	background-color: #e33c3c; /* 버튼 색상 */
	color: #fff; /* 글자 색상 */
	padding: 10px; /* 영역의 상하 좌우 크기 */
	border-radius: 5px; /* 모서리 라운드처리 */
	cursor: pointer; /* 커서 변경 */
	box-sizing: border-box;
	
}

.likeCheck:hover {
	border: none;
	background-color: #ffffff;
	color: #000;
}


/* ---------------- 상세페이지 ----------------  */
/* 자식의 상대영역을 위한 포지션지정 */
.detail_container {
    max-width: 1200px; /* 표시항목 넓이 지정 */
    padding: 20px;
    margin: 0 auto;  /* 가운데 맞춤 */
	text-align: center;  /* 가운데 정렬 */
	position: relative;
}
/* float으로 띄운 아래의 항목 처리 */
.clear {
	clear: both
	/* float의 영향으로 밀고 올라온
	다음요소를 제자리로 위치시킨다. */;
	margin-top:2em;
}

.detail_info {
	margin: 10px auto;
	height: 300px;
	position: relative;
	padding-bottom: 20px;
}

/* 포스터의 위치 지정 */
.detail_poster {
	position: absolute;
	left: 100px;
	padding: 10px;
	width: 200px;
	height: 280px;
	display: inline-block;
}
/* 제목과 기본 정보 */
.info_title {
	text-align: justify; /* 양쪽 정렬 */
	position: relative;
	left: 350px;
	width: 800px;
	height: 300px;
	display: inline-block;
}
/* 제목 크기 지정 */
.detail_title {
	width: 540px; /* 제목의 영역 길이 */
	font-size: 35px;
	font-weight: 800;
	margin-left: 20px;
}
/* 영화 정보 위치 지정 */
.info_title ul {
	margin-top: 20px;
	position: absolute;
	left: 0px;
	
}

.info_title li {
	list-style: none;
}

.detail_reserve_clear {
	position: relative;
	bottom: 130px;
	left: 450px;
	width: 100px;
}


/* 예매 버튼 */
.detail_reserve_clear input {
	border: 1px solid;
	background-color: #433581; /* 버튼 색상 */
	color: #fff; /* 글자 색상 */
	padding: 10px 50px; /* 영역의 상하 좌우 크기 */
	margin-top: 10px;
	text-decoration: none; /* 링크의 밑줄 제거 */
	border-radius: 5px; /* 모서리 라운드처리 */
	cursor: pointer; /* 커서 변경 */
	position: absolute;
	left: 100px; top:70px;
}

.reserve_area input:hover {
	background-color: #331f62;
}

/* 예매버튼의 텍스트 조절 */
.detail_reserve a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}

/* 찜하기 버튼의 위치 조절 */
.detail_likeBtn {
	transform:translate(0, 80px);
}


/* 숏컷 버튼 */
.click_link {
	margin: 40px auto;
	padding: 0;
}
.click_link a {
	text-decoration: none;
	color: #fff;
}

.click_link li {
	display: inline-block;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 30px;
}

.click_link input {
	border: none;
	border-bottom: 3px solid #433581;
	color: #000000; /* 글자 색상 */
	padding: 15px 0; /* 영역의 상하 좌우 크기 */
	width: 120px;
	margin-top: 10px;
	background-color: #ffffff;
	cursor: pointer; /* 커서 변경 */
}

.click_link input:hover {
	background-color: #eeeeee;
	border-bottom: 3px solid #000000;
}

/* 줄거리 */
.movie_story {
	width: 600px;
	height: auto;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
}

/* 차트 */

.movie_reserv {
	margin-top: 100px;
}

.chart {
	display: inline-block;
}

/* 트레일러 */
.movie_trailer {
	width: 600px;
	height: 450px;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
}

/* 스틸컷 */
.movie_cut {
	width: 800px;
	height: auto;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
}

.modal {
	display: none; /* 모달창 숨김 */
	position: fixed; /* 화면 위치 고정 */
	z-index: 9999; /* 내용 위에 표시 */
	left: 0;
	top: 0;
	width: 100%; /* 전체 너비 */
	height: 100%; /* 전체 높이 */
	overflow: hidden; /* 모달창에 스크롤 추가 */
/* 		background-color: rgb(0,0,0); /* 백그라운드 색 */ 
	background-color: rgba(0,0,0,0.4); /* 약간의 투명도 */
}

/* 모달 컨텐츠 */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 페이지 중앙에 위치 */
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 50%; /* 대부분의 너비 */
}

/* 닫기 버튼 */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* 트레일러 */
.trailer {
	position: absolute;
	top: 130px;
	left: 0;
/* 	z-index: 100; */
	width: 100%;
	height: auto;
}

/* 리뷰 */
.review {
	width: 600px;
/* 	height: 300px; */
	text-align: center;
	margin: 20px auto;
	padding: 10px;
}

#contentLenth {
	text-align: left;
	font-size: 12px;
	margin-left: 20px;
}

#reviewListArea {
    text-align: left;
    margin-bottom: 10px;
    height: 100%;
}

.reviewTableArea {
	text-align: center;
	overflow-y: auto;
	max-height: 600px;
}

.review>table, .reviewModalArea table {
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border-top: 2px solid #9d9d9d; /* 표상단줄 */
	border-bottom: 2px solid #9d9d9d; /* 표하단줄 */ 
	width: 600px;
	margin: 0 auto;
}

.review>table th, .reviewModalArea table th {
	color: #000000;
	background-color: #f2f2f2; /* 제목 배경색 지정 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border-bottom: 2px solid #9d9d9d; /* 하단줄 */
}

.review>table td, .reviewModalArea table td {
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border: none;
	border-bottom: 2px solid #9d9d9d; /* 하단줄 */
	background-color: #fff;
}

.review input[type="text"] {
	margin: 10px; /* 여백 */
	height: 30px; /* 높이지정 */
	width: 150px; /* 넓이지정 */
}

.review input[type="button"] { /* 모든 버튼에 */
	padding: 6px 15px; /* 안쪽 여백 */
    background-color: #433581; /* 배경색 빨간색 */
    color: white; /* 글씨색 흰색*/
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 커서 변경 */
}

.review input[type="button"]:hover {  /* 모든 버튼에 마우스오버 시 */
	background-color: #331f62;
}

#movie_story, #movie_trailer, #movie_cut {
	padding-top: 50px;
	z-index: 0;
	position: relative;
}

#review {
	padding-top: 50px;
	z-index: 0;
	position: relative;
	margin-bottom: 100px;
}

#review_content {
width: 500px; /* 원하는 가로 크기를 지정합니다. */
height: 50px; /* 원하는 세로 크기를 지정합니다. */
font-size: 12px; /* 원하는 폰트 크기를 지정합니다. */
}

#footerMG{
	margin: 10px;	
}