@charset "UTF-8";

#seat_select {
	margin: 0 auto;	
	width: 1024px;
}

#select_info {
	width: 100%;
	margin-top: -100px;
	padding-bottom: 100px;
}

#wrapper{
	user-select: none;
}

/* ================= 영화선택 css ===================== */

/* button { 좌석예매 버튼 */
/*     padding: 5px 10px; */
/*     background-color: #433581; */
/*     color: #fff; */
/*     border: none; */
/*     border-radius: 3px; 모서리 곡률 */
/*     cursor: pointer; */
/* } */

/* button:hover { 버튼 가까이 갔을때 어둡 */
/*     background-color: #c70711; */
/* } */

.widthSmall{
	width:60px!important;
	font-weight: normal!important;
	text-align: left;
}

.RN{/*상영관 표시 할때 테두리 없게하는 설정*/
	border: none;
}

#timeAreaNomalText{/*시간 영역에 ajax실행되기 전까지 표시될 내용의 높이 정렬*/
	line-height: 300px;
}

.selected { 
  	background-color: #525252; 
  	color: white;
  	font-weight: bold;
} 

#reserve_nav{
	display: flex;
  	justify-content: flex-end;
}

.btnReset{
	margin-left: auto;
}

#reserve_parameter{ /*화면 가운데로 정렬 하는 코드*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
}

#reserve_parameter>div{ /* 데이터 입력받는 버튼 크기 조절*/
	border: 1px solid;
	width:300px;
	height:500px;
	overflow-x:hidden; overflow-y:auto;
}

#reserve_parameter>div::-webkit-scrollbar { 
	width: 7px; 
}
#reserve_parameter>div::-webkit-scrollbar-thumb {
  background-color: #82817b; 
  border-radius: 10px; 
}
#reserve_parameter>div::-webkit-scrollbar-thumb:hover {
  background-color: #de1010; 
}

.overflow b{ /* 제목에 대한 디자인 설정 (영화, 극장, 날짜, 시간)*/
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	color: #fff;
	font-size: 20px;
}

.movie input,.theater input{ /* 버튼을 영역에 대한 크기 설정(영화, 극장)*/
	width: 285px;
	height: 50px;
	border: none;
	text-overflow: ellipsis;
}

.date{ /* 날짜 버튼 영역크기 설정(일부러 조금 작게 함) */
	width:140px !important;
}

.date input{/*날짜버튼의 가로폭을 좁게*/
	width: 135px;
	height: 50px;
	border: none;
}

.time input{ /*상영시간 버튼을 작게 설정 한줄에 3개씩 들어올수 있게*/
	height: 20px;
	margin: 10px;
}

.room_name{ /*상영관 테두리 없이 너비자동 설정*/
	width: auto!important;
	height: 50px!important;
	border: none!important;
}

#seat_num {
	margin-bottom: 50px;
	position: relative;
}

.opacity{
	opacity: 0.6; /* 선택한 영역의 불투명도 설정 */
	pointer-events: none; /* 선택한 영역의 클릭 이벤트 비활성화 */
}

#end_param td{
/* 	text-align: center; */
	width: 200px;
	border-right: 1px solid #2f2f2d;
/* 	border:2px solid #FF00FF; 영역구분용 테이블 */
}


#end_param{
	width:auto;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	border:3px solid;
	background-color: #1D1D1C;
	color:#fff; /* 임시로 레드 바꿈  */
	height: 100px;
	margin-bottom: 100px;
	font-family: 'Tahoma','돋움',dotum,Nanum Gothic,sans-serif;
    font-size: 12px;
    font-weight: bold;
}


#CGVParam tr{
	height: 10px;
}

.btnsubmit{
	width:80px;
	height: 80px;
	border-radius: 10px;
}

/* ================= 좌석선택 css ===================== */
.alone{
	background-color: #d5d7d7!important;
	pointer-events: none; /* 선택한 영역의 클릭 이벤트 비활성화 */
}



.seatSelectPage_Result_P, .seatSelectPage_Result_S{
	width: 130px!important;
}


#seatCondition {
  position: absolute;
  top: 22%;
  right: 8%;
}


.seat { /* 좌석에 대한 디자인 */
    width: 30px;
    height: 30px;
    background-color: #a6a6a6; 
    margin: 1px; 
    display: inline-block;
    cursor: pointer; /* 커서를 가져다 대면 클릭할 수 있는 표시로 바뀜 */
	align-items: center;
	line-height: 30px;
	color: white;
	font-size: 0.8em;
}

.reserved{
	width: 30px;
    height: 30px;
    margin: 1px;
    background-color: #d5d7d7; 
    display: inline-block;
	align-items: center;
	line-height: 30px;
	font-size: 0.8em;
	text-align: center;
}

#screenArea{
	width: 650px;
	height: 80px;
	text-align: center;
	margin: 20px auto;
	line-height: 80px;
	background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_bg.png) repeat-x left;
}

#DiscountInformation{
	width: auto;
}
#DiscountInformation div{
	color:red;
	font-size:11px;
	margin-bottom: 50px;
}
#DiscountInformation input{
	font-size: 13px;
	width: auto;
}

.seat:nth-of-type(4), .seat:nth-of-type(12) {
	margin-right: 30px/*좌석의 4번째열과 12번째 열 옆으로 통로만드는 css*/
}

.NumOfPeo{ /*인원 선택 영역에 대한 배경과 크기 텍스트 위치 설*/
	background: #ccc;
	width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; /* 텍스트 상하 정렬*/
}

.center{
	text-align: center;
}

.header_box{
	margin-left: auto;
	margin-right: auto;
}

table.header_box td, table.header_box tr { 
/* 	border: 2px solid orange; 테이블 테두리 설계용*/
	width: 600px; 
	text-align: center;
	margin: 0 auto;
}

table.peoSelTable td{
    width: 25px;
	font-size: 12px;
}

table.peoSelTable td:nth-of-type(1) {
    width: 50px;
}

#peoSelTableTh{
	width: auto;
}

#height50{
	height: 70px;
}

.header_box_Runtime{
	width: 45%;
	text-align: left;
}

/* table { border-collapse: collapse; } */

.text_left{
	text-align: left;
}

.header_box_Runtime b{
	font-size: 20px;
}

.button{
	width:80px;
	height: 80px;
	border-radius: 10px;
}

.button_area{
	width: 80px;
}
