@charset "UTF-8";

a {
    color: inherit;
    text-decoration: none;
}

#img_div {
	text-align: center;
	width:986px;
	height:430px;
	max-width:986px;
	max-height:430px;
	margin: auto;
}

#img_div img {
	width:986px;
	height:430px;
	max-width:986px;
	max-height:430px;
}

#theater_event{
	margin-left: 1em;
}

.menu{
	text-align: center; /*  nav 영역 글자 센터 */
	margin: 20px auto;
} 

.theater1>input {
	background-color:#433581; /* 메뉴바 색깔 변경 */
	color : white; /* 글자색을 흰색으로 */
	width: 150px; height: 30px; /* 가로 세로 크기 */ 
	border-radius:10px 10px 10px 10px ; /* 둥글이? */
	text-align: center;  /* 글자를 가운데로 */
	line-height: 30px /* 행간=영역의 높이값
	수직정렬 가운데 */;
	margin: 5px;
}

.theater1>input:hover {
	cursor: pointer;
	background-color:#331f62;
}
 
td>a{
	text-decoration-line: none; /* 공지사항에 a 태그 밑줄 없앰 */
	color: black;} /* 공지사항 a태그 글자색 변경*/

th>a{
	color: blue;
} /* 공지사항 옆 더보기 글자색*/

ul>li>a{
	text-decoration-line: none;
	color: white;
}  /* nav - li - a태그 글자색 변경*/

#theater_top {
	text-align: center;
	height: 470px;
	margin-bottom: 30px;
}

#theater_price{
	vertical-align: top;
	display: inline-block;
	position: relative;
	width: 500px;
	margin-right: 30px;
}

#price_table {
	width: 500px;
	height: 400px;
	border-collapse: collapse; /* 칸 사이 간격 없애기 */
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
}

#price_table th, #price_table tr:nth-of-type(6) {
	border-bottom: 1px solid #b2b2b2;	
}

#theater_map {
	display: inline-block;	
}

#map {
	width:400px;
	height:400px;
} /* 지도 위치 */

.tab-menu {
    clear: both;
    text-align: center;
    margin: 30px 0 15px;
}

.tab-menu li {
    display: inline-block;
    margin-left: -4px;
}

.tab-menu li a {
    display: inline-block;
    position: relative;
    height: 39px;
    padding: 0 15px;
    background: #fb4357 url(../images/common/bg/bg_tebmenu-line.gif) 0 12px no-repeat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 39px;
}

ol, ul {
    list-style: none;
}

h4 {
	vertical-align: middle;
}

#theater_notice {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

#cs_table {
	margin: 0 auto;
	width: 950px;
	border-collapse: collapse;
}

#cs_table th { /* 자주묻는질문, 공지사항 테이블 제목에 */
	color: #000000;
	background-color: #f2f2f2; /* 제목 배경색 지정 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
}

#cs_table td { /* 자주묻는질문, 공지사항 테이블 내용에 */
	padding: 5px 10px; /* 안쪽 여백 지정 */
	border: none;
	text-align: center;
	border-bottom: 1px solid #9d9d9d; /* 하단줄 */		
}


/* ------------ 주차안내 페이지 ------------------- */
.tab-menu {
    clear: both;
    text-align: center;
}

.wrap-theater .tab-menu {
    margin: 30px 0 15px;
}
ol, ul {
    list-style: none;
}

.tab-menu li a {
    display: inline-block;
    position: relative;
    height: 39px;
    padding: 0 15px;
    background: #fb4357 url(../images/common/bg/bg_tebmenu-line.gif) 0 12px no-repeat;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 39px;
}
.tab-menu li {
    display: inline-block;
    margin-left: -4px;
}

.ico-bus {
    display: inline-block;
    width: 50px;
    height: 41px;
    background: url(../images/sprite/sprite_icon.png) -200px -130px no-repeat;
    vertical-align: middle;
    font: 0/0 a;
    zoom: 1;
}
.sect-theater-info h4 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid #222222;
    color: #222222;
    font-size: 17px;
}

.cols-content .col-detail {
    position: relative;
    width: 800px;
    float: left;
}
.sect-theater-info {
    position: relative;
    margin-top: 30px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.info-contents {
    line-height: 1.6;
    color: #222222;
    font-size: 14px;
    font-weight: bolder;
}

h4 {
	vertical-align: middle;
}

.sub_content{
	position: relative;
}

.sect-theater-info .round {
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 11px;
}

.round.red {
    border: 2px solid #fb4357;
    color: #fb4357;
}

.round {
    line-height: 23px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}

a:focus, a:hover {
    text-decoration: none;
}

.round, .round > * {
    display: inline-block;
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
}

#parking{
	color:blue;
}
.theater1 input[type="button"]{
width: 18%;
}
