<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 사용자 정의 패키지 앨리어스 지정 -->
	<typeAliases>
		<typeAlias type="com.itwillbs.c5d2308t1.vo.CsVO" alias="csvo"/>
	</typeAliases>
</configuration>